@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&family=Roboto:ital@0;1&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
}

.nav_container{
    width: 1440px;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.nav {
    width: 1365px;
    height: 25px;
    margin-top: 25px;
    /* margin-left: 37.5px; */
    display: flex;
    justify-content: space-between;
   
}

.nav_links-1 {
    display: flex;
    gap: 37.5px;
}

nav a {
    text-decoration: none;
    color: black;
}

header {
    background-image: url("./Rectangle.png");
    height: 504px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    ;
}
header .h1 {
    font-size: 43px;
    line-height: 46px;
}

header .h1, .h3 {
    color: white
}

